https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.7.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
fastai=2.2.5
voila
ipywidgets=7.6.3
pillow=8.1.0
packaging=20.9
fastbook=0.0.16
